.animation {
  width: 180px;
  height: 180px;
  background: blue;
  animation: animeBox 4s linear infinite;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: blur(30px);
  position: absolute;
  z-index: 1;
}

@keyframes animeBox {
  from {
    scale: 1;
    background: blue;
  }

  to {
    scale: 5;
    background: orange;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
